/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* CODE STARTS HERE */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}


/*  */

.container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px 0px;
    padding-right: 50px;
}

.container .navbar a {
    text-decoration: none;
    color: black;
    transition: color .3s ease,
                font-weight .3s ease,
                font-size: .3s ease;
}

.container .navbar a:hover {
    color: crimson;
    font-weight: 700;
    font-size: 120%;
}

.banner-img {
    margin-bottom: 30px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.top-content-about {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content-about .text-container {
    padding: 0 1%;
    padding-bottom: 20px;  
}


/* MIDDLE & MAIN CONTENT */

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box:nth-of-type(1) {
    background-color: teal;
}

.middle-content .boxes .box:nth-of-type(2) {
    background-color: gold;
}

.middle-content .boxes .box:nth-of-type(3) {
    background-color: cadetblue;
}

.middle-content .boxes .box:nth-of-type(4) {
    background-color: coral;
}

.middle-content .boxes .box:nth-of-type(5) {
    background-color: crimson;
}

.middle-content .boxes .box:nth-of-type(6) {
    background-color: forestgreen;
}

.middle-content .boxes .box:nth-of-type(7) {
    background-color: darkorchid;
}

.middle-content .boxes .box:nth-of-type(8) {
    background-color: hotpink;
}

.middle-content .boxes .box:nth-of-type(9) {
    background-color: indigo;
}

.middle-content .boxes .box:nth-of-type(10) {
    background-color: dodgerblue;
}

.middle-content-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.middle-content-about .about-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 45%;
    margin: 15px 0px;
    border-bottom: 1px dashed black;
}

.middle-content-about .about-box h2 {
    margin-top: 20px;
}

.learn-more {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 130px;
    text-align: center;
    margin: 20px 0px;
}


/* MAIN CONTENT ANIMATIONS */

@keyframes hoverBounce {
    0% {
        transform: scale(1.02);
        transform: rotate(2deg);
    }
    40% {
        transform: scale(1.06);
        transform: rotate(6deg);
    }
    60% {
        transform: scale(1.06);
        transform: rotate(0deg);
    }
    80% {
        transform: scale(1.06);
        transform: rotate(-2deg);
    }
    100% {
        transform: scale(1.06);
        transform: rotate(0deg);
    }
}

.hover-anim {
    transition: background-color .2s ease,
                border: .2s ease;


}

.hover-anim:hover {
    animation: hoverBounce .2s;
    background-color: lightgoldenrodyellow;
    box-shadow: 5px 5px 5px #adcad6;
    border: gold 2px solid;
}

/* BOTTOM AND FOOTER */

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.bottom-content .text-container-about {
    margin: 30px 0px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}